**/target/
.idea
*.iml
*.class
*Test.java
# 日志文件
*.log

# 系统文件
.DS_Store
Thumbs.db

# 配置文件（避免上传账号密码）
sky-server/src/main/resources/application.yml
sky-server/src/main/resources/application-dev.yml
**/test/